/* Dimensions */
$site-width: 1024px;
$app-menu-width: 100px;

/* Inputs */
$input-height: 45px;
$button-height: 45px;
$select-height: 45px;

/* Font Names */
$sans:  "Gibson", "sans-serif", "Helvetica", "Arial";
$serif: 'serif';
$script: 'script';

/* Z-Index */
$level1: 1;
$level2: 2;
$level3: 3;
$level4: 4;
$level5: 5;

/* Speeds */
$quick: .1s;
$fast: .25s;
$average: .4s;
$slow: .65s;
$slower: 1s;

/* Breakpoints */
$mobile: 768px;
$tablet: 992px;
$desktop: 1200px;

/* Global Colors */
$black: #404040;
$off-black: #2d3335;
$white: #ffffff;
$off-white: #f6f9fa;
$grey: #d4d4d4;
$off-grey: #eff1f4;
$light-blue: #1496f1;
$blue: #137DBB;
$dark-blue: #18617e;
$green: #48a14e;
$red: #c04646;
$lightgrey: lightgrey;

// $blue-gradient-to: #7670c1; // #021838;
// $blue-gradient-from: #137DBB;
$blue-gradient-from: #12255a;
$blue-gradient-to: #1d8e9b;